.header{
   
    background-color: #002a65;
    height: 90px;
    width:100%;
    position:fixed;
    top:0px;
    left:0px;
  
    
  }
  
  #srs_logo{
    width:130px;
    margin-left:40px;
    /* height:60px; */
    float:left;
  }

  #srs_name{
    width:500px;
    margin-left:70px;
    margin-top:20px;
    color:white;
    font-weight:bold;
    font-size: 32pt;
    font-family: daimler !important;
    /* height:60px; */
    float:left;
  }
  
  #hostel_name{
    margin-top:35px;
    color:#5df7d1;
    float:left;
    font-size: 14pt;
    width:290px;
    font-family: daimler !important;
  }
  
  #horizontal_nav{
    margin-left:770px;
  }
  
  #srs_text{
    float:left;
    font-family: daimler !important;
    font-size: 18px;
    color:#a1c0e7;
    display: block;
    text-align: center;
    margin-top: 17px;
  }
  
  #srs_text:hover{
    background-color: rgb(187, 130, 25);
  }
  
  #horizontal_options{
    margin-left:20px;
    margin-right: 20px;
  }
  
  
  
  .body_content{
    background-color: white;
    /*Sudhi's laptop*/
    margin-top:90px;
  }
  
  
  #add_purchase{
    height:50px;
    width:150px;
    background-color: #005cab;
    margin-top:53px;
    margin-left: 100px;
    position: absolute;
    margin-left: 240px;
    text-decoration: none;
    color: white;
    text-align: center;
    float:left;
    font-weight: bold;
    font-family: daimler !important;
  }
  
  #view_purchase{
    height:50px;
    width:150px;
    background-color: #f7f7f7;
    position:absolute;
    margin-left:390px;
    margin-top:53px;
    text-decoration: none;
    color: black;
    float:left;
    text-align: center;
    font-weight: bold;
    font-family: daimler !important;
  }
  

  #modify_purchase{
    height:50px;
    width:150px;
    background-color: #f7f7f7;
    position:absolute;
    margin-left:541px;
    margin-top:53px;
    text-decoration: none;
    color: black;
    float:left;
    text-align: center;
    font-weight: bold;
    font-family: daimler !important;
  }
  
  
  
  #line{
    color: black;
    width: 30px;
    position: absolute;
    width:925px;
    height: 3px;
    border: none;
    background-color: rgb(223, 213, 213);
    margin-top: 100px;
    /* position: absolute;*/ 
    margin-left: 390px;
  }
  
  
  #form-heading{
    height:500px;
    width:1075px;
    background-color: white;
    margin-top:103px;
    margin-left: 240px;
    position: absolute;
  }
  
  #para-heading{
    font-family: daimler !important;
    font-size: 18px;
  }
  
  #form_fields{
    margin-top:190px;
    position: absolute;
    margin-left:250px;
  }
  
  
  #form_data{
    border-top: none;
    border-left:none;
    border-right: none;
    border-bottom: #ccc solid 1px;
    font-size: 18px;
    height:30px;
    font-family: daimler !important;
    width:262px;
    float:left;
  }
  
  
  #form_data:focus{
    border-top: none;
    border-left:none;
    border-right: none;
    outline: none;
    border-bottom: blue solid 1px;
  }
  
  
  
  
  
  
  
  
  
  #form_bnum{
    border-top: none;
    border-left:none;
    border-right: none;
    border-bottom: #ccc solid 1px;
    font-size: 18px;
    height:30px;
    font-family: daimler !important;
    width:262px;
    float:left;
    margin-left:-267px;
  }
  
  
  #form_bnum:focus{
    border-top: none;
    border-left:none;
    border-right: none;
    outline: none;
    border-bottom: blue solid 1px;
  }
  
  
  
  #bnum_id {
    font-family: daimler !important;
    padding:10px;
    pointer-events: none;
    position:absolute;
    float:left;
    margin-left:-270px;
    margin-top:133px;/*for other laptop 133px*/
    top:0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
  }
  
  
  #form_bnum:focus + #bnum_id, #form_bnum:not(:placeholder-shown) + #bnum_id {
    opacity:1;
    transform: scale(0.75) translateY(-80%) translateX(-20px);
  }
  
  
  
  
  
  #form_pname{
    border-top: none;
    border-left:none;
    border-right: none;
    border-bottom: #ccc solid 1px;
    font-size: 18px;
    height:30px;
    font-family: daimler !important;
    width:262px;
    float:left;
  }
  
  
  #form_pname:focus{
    border-top: none;
    border-left:none;
    border-right: none;
    outline: none;
    border-bottom: blue solid 1px;
  }
  
  
  
  #pname_id {
    font-family: daimler !important;
    padding:10px;
    pointer-events: none;
    position:absolute;
    float:left;
    margin-left:-267px;
    margin-top:133px;/*for other laptop 133px*/
    top:0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
  }
  
  
  #form_pname:focus + #pname_id, #form_pname:not(:placeholder-shown) + #pname_id {
    opacity:1;
    transform: scale(0.75) translateY(-80%) translateX(-20px);
  }
  
  
  
  
  
  
  
  
  #form_vname{
    border-top: none;
    border-left:none;
    border-right: none;
    border-bottom: #ccc solid 1px;
    font-size: 18px;
    height:30px;
    font-family: daimler !important;
    width:262px;
    float:left;
  }
  
  
  #form_vname:focus{
    border-top: none;
    border-left:none;
    border-right: none;
    outline: none;
    border-bottom: blue solid 1px;
  }
  
  
  
  #vname_id {
    font-family: daimler !important;
    padding:10px;
    pointer-events: none;
    position:absolute;
    float:left;
    margin-left:-267px;
    margin-top:133px;/*for other laptop 133px*/
    top:0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
  }
  
  
  #form_vname:focus + #vname_id, #form_vname:not(:placeholder-shown) + #vname_id {
    opacity:1;
    transform: scale(0.75) translateY(-80%) translateX(-20px);
  }
  
  
  
  
  
  #form_price{
    border-top: none;
    border-left:none;
    border-right: none;
    border-bottom: #ccc solid 1px;
    font-size: 18px;
    height:30px;
    font-family: daimler !important;
    width:262px;
    float:left;
  }
  
  
  #form_price:focus{
    border-top: none;
    border-left:none;
    border-right: none;
    outline: none;
    border-bottom: blue solid 1px;
  }
  
  
  
  #price_id {
    font-family: daimler !important;
    padding:10px;
    pointer-events: none;
    position:absolute;
    float:left;
    margin-left:-267px;
    margin-top:267px;/*margin-top:267px*/
    top:0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
  }
  
  
  #form_price:focus + #price_id, #form_price:not(:placeholder-shown) + #price_id {
    opacity:1;
    transform: scale(0.75) translateY(-80%) translateX(-10px);
  }
  
  
  
  
  
  
  #form_quantity{
    border-top: none;
    border-left:none;
    border-right: none;
    border-bottom: #ccc solid 1px;
    font-size: 18px;
    height:30px;
    font-family: daimler !important;
    width:262px;
    float:left;
  }
  
  
  #form_quantity:focus{
    border-top: none;
    border-left:none;
    border-right: none;
    outline: none;
    border-bottom: blue solid 1px;
  }
  
  
  
  #quantity_id {
    font-family: daimler !important;
    padding:10px;
    pointer-events: none;
    position:absolute;
    float:left;
    margin-left:-267px;
    margin-top:267px;/*margin-top:267px*/
    /* left:0; */
    top:0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
  }
  
  
  #form_quantity:focus + #quantity_id, #form_quantity:not(:placeholder-shown) + #quantity_id {
    opacity:1;
    transform: scale(0.75) translateY(-80%) translateX(-16px);
  }
  
  
  
  
  #form_amount{
    border-top: none;
    border-left:none;
    border-right: none;
    border-bottom: #ccc solid 1px;
    font-size: 18px;
    height:30px;
    font-family: daimler !important;
    width:262px;
    float:left;
  }
  
  
  #form_amount:focus{
    border-top: none;
    border-left:none;
    border-right: none;
    outline: none;
    border-bottom: blue solid 1px;
  }
  
  
  
  #amount_id {
    font-family: daimler !important;
    padding:10px;
    pointer-events: none;
    position:absolute;
    float:left;
    margin-left:-267px;
    margin-top:267px;/*margin-top:267px*/
    /* left:0; */
    top:0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
  }
  
  
  #form_amount:focus + #amount_id, #form_amount:not(:placeholder-shown) + #amount_id {
    opacity:1;
    transform: scale(0.75) translateY(-80%) translateX(-16px);
  }
  
  
  
  .dropdown-content{
    
    width: 262px;
    display:block;
    z-index: 1;
    min-width: 259px;
    margin-top: 175px;
    margin-left: 338px;
    position: absolute;
    background-color: white;
    border: solid #cacaca;
    border-width: 1.5px 1.5px 1.5px 1.5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-family: daimler !important; 
    text-decoration: none;
    display: block;
    cursor: default;
  }
  
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  
  .dropdown-content1{
    
    width: 262px;
    display:block;
    z-index: 1;
    min-width: 259px;
    margin-top: 175px;
    margin-left: 674px;
    position: absolute;
    background-color: white;
    border: solid #cacaca;
    border-width: 1.5px 1.5px 1.5px 1.5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  
  .dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    font-family: daimler !important; 
    text-decoration: none;
    display: block;
    cursor: default;
  }
  
  
  .dropdown-content1 a:hover {background-color: #ddd;}
  
  
  /* .dropdown-content {
    border: solid 1 px black;
  
    display: block;
  } */
  
  
  
  
  
  .disabledClass { 
    border-bottom: 2px solid red;
    border-width: 0px;
  }
  
  .disabledSubmit{
  opacity:0.3;
  cursor:default;
  
  }
  
  
  
  
  
  
  .reset_button{
    cursor: pointer;
    margin-top: 60px;
    /* margin-left: 600px; */
    background-color: white;
    height: 40px;
    width: 120px;
    border-radius: 30px;
    border: #ccc solid 2px;
    color:grey;
    font-weight: bold;
    font-family: daimler !important;

    /*for sudhi's laptop*/
    position:absolute;
    margin-left:-264px;
  }
  
  .submit_button{
    cursor: pointer;
    margin-top: 60px;
    /* margin-left: 90px; */
    background-color: #005cab;
    height: 40px;
    width: 120px;
    border-radius: 30px;
    border: none;
    color:white;
    font-weight: bold;
    font-family: daimler !important;

    /*for sudhi's laptop*/
    position:absolute;
    margin-left:-20px;
  }
  
  .reset_button:focus{
    outline: 0;
  }
  
  .submit_button:focus{
    outline: 0;
  }
  
  
  
  .footer{
    font-family: daimler !important;
    background-color: #e0e0d1;
    text-align:center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: grey;
    text-align: center;
    font-size: 12px;
  }
  
  