.header{
   
    background-color: #002a65;
    height: 90px;
    width:100%;
  
    
  }
  
  #srs_logo{
    width:130px;
    margin-left:40px;
    /* height:60px; */
    float:left;
  }

  #srs_name{
    width:500px;
    margin-left:70px;
    margin-top:20px;
    color:white;
    font-weight:bold;
    font-size: 32pt;
    font-family: daimler !important;
    /* height:60px; */
    float:left;
  }
  
  #hostel_name{
    margin-top:35px;
    color:#5df7d1;
    float:left;
    font-size: 14pt;
    width:290px;
    font-family: daimler !important;
  }
  
  #horizontal_nav{
    margin-left:770px;
  }
  
  #srs_text{
    float:left;
    font-family: daimler !important;
    font-size: 18px;
    color:#a1c0e7;
    display: block;
    text-align: center;
    margin-top: 17px;
  }
  
  #srs_text:hover{
    background-color: rgb(187, 130, 25);
  }
  
  #horizontal_options{
    margin-left:20px;
    margin-right: 20px;
  }
  
  
  
  .body_content{
    background-color: white;
  }
  
  
  #add_consumption{
    height:50px;
    width:150px;
    background-color: #f7f7f7;
    margin-top:53px;
    position: absolute;
    margin-left: 240px;
    text-decoration: none;
    color: black;
    text-align: center;
    float:left;
    font-weight: bold;
    font-family: daimler !important;
  }
  
  #view_consumption{
    height:50px;
    width:150px;
    background-color: #005cab;
    position:absolute;
    margin-left:390px;
    margin-top:53px;
    text-decoration: none;
    color: white;
    float:left;
    text-align: center;
    font-weight: bold;
    font-family: daimler !important;
  }
  
  #modify_consumption{
    height:50px;
    width:170px;
    background-color: #f7f7f7;
    position:absolute;
    margin-left:541px;
    margin-top:53px;
    text-decoration: none;
    color: black;
    float:left;
    text-align: center;
    font-weight: bold;
    font-family: daimler !important;
  }
  
  
  
  #line{
    color: black;
    width: 30px;
    position: absolute;
    width:775px;
    height: 3px;
    border: none;
    background-color: rgb(223, 213, 213);
    margin-top: 100px;
    /* position: absolute;*/ 
    margin-left: 540px;
  }
  
  
  #form_bnum{
    border-top: none;
    border-left:none;
    border-right: none;
    border-bottom: #ccc solid 1px;
    font-size: 18px;
    height:30px;
    font-family: daimler !important;
    width:200px;
    float:left;
  }
  
  
  #form_bnum:focus{
    border-top: none;
    border-left:none;
    border-right: none;
    outline: none;
    border-bottom: blue solid 1px;
  }
  
  
  
  #searchPurchase_id {
    font-family: daimler !important;
    padding:10px;
    pointer-events: none;
    position:absolute;
    float:left;
    margin-left:-207px;
    margin-top:2px;
    /* left:0; */
    top:0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
  }
  
  
  #form_bnum:focus + #searchPurchase_id, #form_bnum:not(:placeholder-shown) + #searchPurchase_id {
    opacity:1;
    transform: scale(0.75) translateY(-80%) translateX(-20px);
  }
  
  
  .reset_button{
    cursor: pointer;
    margin-top: 127px;
    margin-left: 845px;
    background-color: white;
    height: 40px;
    width: 120px;
    border-radius: 30px;
    border: #ccc solid 2px;
    color:grey;
    font-weight: bold;
    font-family: daimler !important;
  }
  
  .reset_button:focus{
    outline: 0;
  }
  
  .submit_button:focus{
    outline: 0;
  }
  
  .submit_button{
    cursor: pointer;
    margin-top: 106px;
    margin-left: 55px;
    background-color: #005cab;
    height: 40px;
    width: 120px;
    border-radius: 30px;
    border: none;
    color:white;
    font-weight: bold;
    font-family: daimler !important;
  }
  
  
  
  .table-heading-container{
    width:1075px;
    position: absolute;
    background-color:white;
    margin-left: 240px;
    margin-top: 47px;
  }




  .table-container{
    height: 350px;
    width:1075px;
    background-color:white;
    position: absolute;
    margin-top: 113px;
    margin-left: 240px;
    overflow-y: auto;
    /* margin-bottom: 1000px; */
  }


  .table-container1{
    height: 280px;
    width:1094px;
    background-color:white;
    position: absolute;
    margin-top: 113px;
    margin-left: 240px;
    overflow-y: auto;
    display:block;
    /* margin-bottom: 1000px; */
  }

  
  
  table { 
    /* table-layout: fixed; */
    width: 100%;
    font-family: daimler !important; 
    font-size:large; 
    border-collapse: collapse; 
   
    border: 2px solid #acacac; 
  } 
  
  th{
    color: black; 
    font-family: daimler !important;
    height:35px;
    border: 2px solid #acacac; 
  }
  
  tr{
    border: 2px solid #acacac; 
    
  }
  
  td { 
  
    border: 2px solid #acacac; 
  }
  
  
  
  
  .dropdown-content{
    
    /* width: 262px; */
    z-index: 1;
    min-width: 197px;
    margin-top: 170px;
    margin-left: 240px;
    position: absolute;
    background-color: white;
    border: solid #cacaca;
    border-width: 1.5px 1.5px 1.5px 1.5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-family: daimler !important; 
    text-decoration: none;
    display: block;
    cursor: default;
  }
  
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown-content {
    border: solid 1 px black;
    display: block;
  }
  
  
  .disabledClass { 
    display: none;
    border-width: 0px;
  }
  
  
  .disabledSubmit{
    opacity:0.3;
    cursor:default;
   
  }
  
  
  
  #inkgs{
    font-style:italic;
    font-size: 8pt;
  
  }
  
  .footer{
    font-family: daimler !important;
    background-color: #e0e0d1;
    text-align:center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: grey;
    text-align: center;
    font-size: 12px;
  }
  
  
  
 ul{
   position:absolute;
   margin-top:100px;
   margin-left:700px;
   transform:translate(-50%,-50%);
   display:flex;

 }

 ul li{
   list-style:none;
   width:6px;
   height:25px;
   background:#005cab;
   margin : 0 4px;
   animation: animate .7s infinite alternate;

 }

 @keyframes animate{
   0%{
     transform:scaleY(1);
   }
   25%{
    transform:scaleY(1);
  }
  50%{
    transform:scaleY(1);
  }
  75%{
    transform:scaleY(1);
  }
  100%{
    transform:scaleY(3);
  }
 }

 ul li:nth-child(1){
   animation-delay: .1s;
 }
 ul li:nth-child(2){
  animation-delay: .2s;
}
ul li:nth-child(3){
  animation-delay: .3s;
}
ul li:nth-child(4){
  animation-delay: .4s;
}
ul li:nth-child(5){
  animation-delay: .5s;
}
ul li:nth-child(6){
  animation-delay: .6s;
} 
  
  
  
  
  
 